*{
  position: relative;  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #FDF8F4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}