.home-cover{
  height: 90vh;
  background-image: url(./assets/images/kuanCover.jpg);
  background-position: center;
  background-size: cover;
}

.home-top-link{
  z-index: 20;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.home-back-top{
  width: 50px;
  height: 50px;
  background-color: rgb(42, 41, 41);
}

.home-texts{
  position: absolute;
  left: 80px;
  bottom: -100px;  
}

.home-cover-img{
  width: 240px;
  object-fit: cover;
}

.home-text-line{
  width: 16px;
  background-color: $warning;
}

.home-section1-line{
  width: 30px;
}

.home-section-line{
  font-size: 0.875rem;
  width: 30px;
  background-color: rgba(177, 157, 134, 0.8);
  backdrop-filter: blur(8px);
  color: white;
}

.home-section-slogan{
  position: absolute;
  top: -32px;  
}

.home-section-slogan-right{
  right: 8%;
}

.home-section-slogan-left{
  left: 8%;
}

.home-section-content{
  position: absolute;
  top: -24px;
}

.home-section-img{
  height: 240px;
  background-size: cover;
  background-position: center;  
}

.home-section-icon{
  width: 60px;
}

.home-category-link{
  text-decoration: none;
}

.home-category {
  height: 120px;
  background-size: 120%;
  background-position: center center;
  transition: 0.3s;
}

.home-category-link:hover .home-category {
  background-size: 140%;
}

.home-mask{
  width: 100%;
  height: 100%;
  background-color: rgba(177, 157, 134, 0.1);
  transition: 0.3s;
}

.home-category-link:hover .home-mask {
  background-color: rgba(27, 27, 27, 0.7);
}

.home-category-title{
  height: 0px;
  position: relative;
  left: auto;
  right: auto;
  bottom: 20%;
  opacity: 0;
  transition: 0.5s;
}

.home-category-link:hover .home-category-title {
  bottom: 50%;
  opacity: 1;
}

.home-img1 {
  background-image: url(./assets/images/QualityInspectionCover.jpg);
}

.home-img2 {
  background-image: url(./assets/images/FreshProductsCover.jpg);
}

.home-img3 {
  background-image: url(./assets/images/FestivalProductsCover.jpg);
}

.home-category-bg-others {
  background-image: url(./assets/images/others.jpg);
}

.home-category-bg-addon {
  background-image: url(./assets/images/addon.jpg);
}

.home-category-bg-poundcake {
  background-image: url(./assets/images/poundcake.jpg);
}

.home-category-bg-scone {
  background-image: url(./assets/images/scone.jpg);
}

.home-category-bg-cheesecake {
  background-image: url(./assets/images/cheesecakes.jpg);
}

.home-category-bg-tart {
  background-image: url(./assets/images/tarts.jpg);
}

.home-category-bg-screamcake {
  background-image: url(./assets/images/screamcake.jpg);
}

.home-category-bg-cookie {
  background-image: url(./assets/images/cookies.jpg);
}

@include media-breakpoint-up(md) {
  .home-category{
    height: 160px;
  }
}